.equation-panel {
    background-color: var(--side-panel);
    position: absolute;
    right: 0px;
    height: 100%;
    width: var(--panel-length);
    /* min-width: 300px; */
}

/* Top panel */
.equation-panel-top {
    background-color: var(--side-panel-top);
    height: 50px;
}
.equation-panel-hide {
    background-color: var(--side-panel-top);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 30px;
    transform: rotate(-90deg);
    left: -50px;
    color: var(--light-text);
}
.equation-panel-hide:hover {
    background-color: var(--side-panel-top-hover);
}
.equation-panel-top-button {
    font-size: medium;
    margin: 5px;
}

/* Resizing side bar */
.equation-resize-bar {
    background-color: var(--dark-line);
    position: absolute;
    left: -4px;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}

/* Individual Equation */
.equations-container {
    display: flex;
    flex-direction: column;
}
.equation {
    padding: 10px;
    width: calc(100% - 20px);
}
.equation input {
    font-size: xx-large;
    margin-right: 10px;
    width: calc(100% - 130px);
}
.equation button {
    font-size: xx-large;
    width: 110px;
}

/* Screen-size adjustments */
/* @media only screen and (orientation: portrait) {
    .equation-panel {
        bottom: 0px;
        width: 100vw;
        height: var(--panel-length);
    }
    .equation-panel-hide {
        transform: rotate(0deg);
        left: 0px;
        top: -50px;
    }
} */
