:root {
    --panel-length: 300px;
    --saved-panel-length: 300px;
    --light-text: #f3f3f3;
    --dark-text: #001111;
}

:root.light {
    --bg-color: #d0d0d0;
    --side-panel: #6f6fe4;
    --side-panel-top: #2e2ec5;
    --side-panel-top-hover: #8383eb;
    --main-text: var(--light-text);
    --contrast-text: var(--dark-text);
}

:root.dark {
    --bg-color: #333333;
    --side-panel: #222266;
    --side-panel-top: #000033;
    --side-panel-top-hover: rgb(102, 102, 200);
    --main-text: var(--dark-text);
    --contrast-text: var(--light-text);
}

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
}

.canvas-container {
    background-color: var(--bg-color);
    height: 100vh;
    width: calc(100vw - var(--panel-length));
}
.canvas-container canvas {
    width: 100%;
    height: 100%;
}

@media only screen and (orientation: portrait) {
    .container {
        flex-direction: column;
    }
    .canvas-container {
        width: 100vw;
        height: calc(100vh - var(--panel-length));
    }
    .equation-panel {
        bottom: 0px;
        width: 100vw;
        height: var(--panel-length);
    }
}
